body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   /* background-color: rgba(33,38,52,255); */
   background-image: linear-gradient(to right bottom, #040404, #0c0b14, #11111e, #131628, #131a33, #111c3d, #0e1d46, #0a1f50, #0e1d5a, #181a63, #25146a, #340770);
   background-position: center;/*centro la imagen*/
   background-attachment: fixed;
   background-size: cover;/**/
   
}



/*/////////////////////  MODOFICACIONES AL SCROLL BAR ORIGINAL   /////////////////////////////////*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Toda la linea */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}
 
/* indicador */
::-webkit-scrollbar-thumb {
  background: rgba(152, 152, 152, 0.399); 
  border-radius: 10px;
  
  
}

/* indicador hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(67, 93, 114, 0.574); 
}


/*MODOFICACIONES AL SCROLL BAR ORIGINAL   /////////////////////////////////*/




